<div *ngIf="show" (click)="show = false" class="background-modal">
  <div class="allusers">
    <modaluser *ngFor="let user of UsuariosPorIdea"  [user]="user"></modaluser>
  </div>
</div>

<div class="idea-item-1">
  <div class="idea-item-1__img">
    <img class="idea-item-1__img-item" src="assets/saasd.png" alt="Referencia">
  </div>
  <div class="idea-item-1__content">
    <h3 class="idea-item-1__content--title">{{idea?.nombre}} </h3>

    <p class="idea-item-1__content--descripcion">{{idea?.descripcion | limitText: 65 }}<a  [routerLink]="['/ideas', idea?.id]" class="box-header__cta"> Leer más</a></p>

    <div class="idea-item-1__content--actions">
      <div class="likes-action">
        <img *ngIf="!like; else elseBlock" class="likes-action__icon" (click)="toogleLike()" src="assets/like.svg" alt="">
          <ng-template #elseBlock>
            <img class="likes-action__icon" (click)="toogleLike()" src="assets/like-fill.svg" alt="">
          </ng-template>


        <span class="likes-action__count">{{ idea?.likes }}</span>
      </div>
      <div class="people-action">
        <div class="people-action__titular">
          <img  src="{{idea?.creador.foto}}" alt="" class="people-action__Contributors--img  profileimage-idea">
          <span class="people-action__titular--name">{{ idea?.creador.nombre.split(' ')[0] }} {{ idea?.creador.apellido.split(' ')[0] }}
              <div class="show-titular">

                <div class="show-titular__perfil">
                  <img class="profileimage-idea" src="{{idea?.creador.foto}}" alt="">
                  <div class="show-titular__perfil--info"> 
                    <span class="name-preview">{{ idea?.creador.apellido }}</span>
                    <a class="link-preview">ver perfil</a>
                  </div>
                </div> 

                <div class="show-itular__content">
               <!--   <span class="show-titular__content--item"><span class="show-titular__content--item-number">20k</span> seguidores</span>
                  <span class="show-titular__content--item"><span class="show-titular__content--item-number">800</span> seguidos</span>-->
                  <button [ngClass]="actived" class="button-follow" (click)="follow()">{{idea?.sigueAlCreador ? 'siguiendo': 'seguir'}}</button>
                </div>

              </div>
          </span>
        </div>
        <div class="people-action__Contributors">
          <app-homecontribuidor  *ngFor="let img of idea?.contribuidores | limitContribuidores" [img]="img"></app-homecontribuidor>
          <div  class="people-action__Contributors--img profileimage-idea more-users">
            <a (click)="show = !show" (click)="toggle()" [ngClass]="actived" class="more-users-link">{{idea?.contribuidores.length}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


