.props{
    width: auto;
    padding:10px;
    border-radius: 5px;
    position: fixed;
    left:20px;
    background-color: #F7FFF7;

    &-log{
        padding: 1em;
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.16);
        background-color: map-get($colors, second-color);
        border-radius: 0 5px 5px 0;

        &__item{
            margin-bottom: 10px;
            &-likes{
                display: flex;
                align-items: center;
                position: relative;
                &--icon{
                    width: 25px;
                    height: 25px;
                    margin-left: 5px;
                    position: relative;
                }
                &--cta{
                    color: map-get($colors, second-color-4);
                    margin-left: 5px;
                }
            }
            &--button{
                font-size: 20px;
                color: map-get($colors, second-color);
                background-color: map-get($colors, main-color-light);
                border-radius: 5px;
                line-height: 2;
                display: block;
                margin-right: 10px;
                padding-left: .5em;
                padding-right: .5em;
                transition: all .25s ease-in-out;
                &:hover{
                    background-color: map-get($colors, main-color);
                    transform: scale(1.05);
                }
            }
        }
    }
}

.b1{
    border-radius: 0 5px 0 0;
}

.b4{
    border-radius: 0 0 5px 0;
}