.wrapper-main{
    display: flex;
    &-gl{
       margin-left: 240px;
       width: 100%;
       background-color: #F5F5F5;
       padding-right: 50px;
       padding-left: 50px;
       &__app {
           margin-top: 3em;
           display: flex;
           flex-wrap: wrap;
           justify-content: center;
       }
    }
}