.reset-back{
    color: map-get($colors, main-color);
    cursor: pointer;
}

.reset-form{
    height: 110px;
    width: 400px;
    margin-top: 70px;
    &__input{
        margin-top: 30px;
    }

}

.reset-button{
    width: 220px;
    font-size: 18px;
    font-weight: $regular;
}

