$colors: (
   main-color:       #3873FF,
   main-color-light: #5C8CFE,
   second-color:     #FFFFFF,
   second-color-2:   #F7FFF7,
   second-color-3:   #BFBFBF,
   second-color-4:   #A1A1A1,
   second-color-5:   #484848,
   second-color-6:   #EFEFEF
)