$gutter:10px;
$padding-right-left:50px;
$padding-top-bottom:30px;


$box-shadow1:0 10px 0px 20px rgba(0,0,0,.16);


img {
    display: inline-block;
}

a {
    text-decoration: none;
}

body {
    background-color: map-get($colors , second-color-2 );
    font-family: $family;
}