<header-signup></header-signup>
<social></social>

<p class="line">O crea una cuenta</p>

<form #userForm="ngForm" class="login" (submit)="signUp()">

    <div class="box-form">
        <div class="box-form__item" [ngClass]="{'has-error': nameM.touched && !nameM.valid || lastnameM.touched && !lastnameM.valid, 'has-confirm': nameM.valid}">
            
            <input class="login-input name"
                    type="text" 
                    placeholder="Nombre"
                    required
                    minlength="2"
                    maxlength="25"
                    [(ngModel)]="name" 
                    name="name"
                    #nameM="ngModel"  />

                    <span class="help-block" *ngIf="nameM.touched && nameM.errors">
                        <span *ngIf="nameM.errors.required">Olvidaste ingresar tu nombre.</span>
                        <span *ngIf="nameM.errors.minlength">Al menos 2 letras</span>
                        <span *ngIf="nameM.errors.maxlength">Demasiados caractéres (25 máximo).</span>
                    </span>

            <input class="login-input name"
                    type="text" 
                    placeholder="Apellido"
                    required
                    minlength="2"
                    maxlength="25"
                    [(ngModel)]="lastname" 
                    name="lastname"
                    #lastnameM="ngModel"  />

                    <span class="help-block lastname" *ngIf="lastnameM.touched && lastnameM.errors">
                        <span *ngIf="lastnameM.errors.required">Olvidaste ingresar tu apellido.</span>
                        <span *ngIf="lastnameM.errors.minlength">Al menos 2 letras.</span>
                        <span *ngIf="lastnameM.errors.maxlength">Demasiados carácteres (25 máximo).</span>
                    </span>
        </div>
        
        <div class="box-form__item" [ngClass]="{'has-error': emailM.touched && !emailM.valid, 'has-confirm': emailM.valid}">
            <input class="login-input"
                    type="email" 
                    placeholder="Correo electrónico"
                    required
                    [(ngModel)]="email" 
                    name="email"
                    #emailM="ngModel"  />

            <span class="help-block" *ngIf="emailM.touched && emailM.errors">
                <span *ngIf="emailM.errors.required">Olvidaste ingresar tu correo.</span>
                <span *ngIf="emailM.errors.pattern">Ingresar un correo valido.</span>
            </span>
        </div>

        <div class="box-form__item" [ngClass]="{'has-error': passM.touched && !passM.valid, 'has-confirm': passM.valid}">
            <input class="login-input"
                    type="password" 
                    placeholder="Contraseña"
                    required
                    minlength="8"
                    [(ngModel)]="password" 
                    name="password"
                    #passM="ngModel"  />

                    <span class="help-block" *ngIf="passM.touched && passM.errors">
                        <span *ngIf="passM.errors.required">Olvidaste ingresar tu contraseña.</span>
                        <span *ngIf="passM.errors.minlength">Al menos 8 carácteres.</span>
                        <span *ngIf="passM.errors.pattern">Al menos una mayúscula y número.</span>
                    </span>
        </div>
        <div class="box-form__item" [ngClass]="{'has-error': fecNacM.touched && !fecNacM.valid, 'has-confirm': fecNacM.valid}">
            <input class="login-input"
                    type="Date" 
                    placeholder="Fecha de nacimiento"
                    required
                    [(ngModel)]="fecNac" 
                    name="fecNac"
                    #fecNacM="ngModel"  />

                    <span class="help-block" *ngIf="fecNacM.touched && fecNacM.errors">
                        <span *ngIf="fecNacM.errors.required">Olvidaste ingresar tu fecha de nacimiento.</span>
                        <span *ngIf="fecNacM.errors.pattern">dd/mm/aa.</span>
                    </span>
        </div>


        <div class="box-form__item terms">
            <input id="login-checkbox" [(ngModel)]="terms" name="terms" class="login-checkbox" type="checkbox" />
            <label for="login-checkbox" class="terms-copy">Acepto los terminos de servicio y la política de privacidad de Listen</label>
        </div>
    </div>

    <div class="form-button">
        <input class="login-button" type="submit" value="Registrarse"  (click)="clicked(ngForm)">
    </div>
</form>

<p>
    {{userForm.value | json}}
    {{userForm.control.status}}
</p>

