
<header-signin></header-signin>
<social></social>

<p class="line">o</p>

<form (submit)="signIn()" class="login">

    <div class="box-form signin-form">
        <div class="box-form__item signin-form__item">
            <input class="login-input" [(ngModel)]="email" name="email" type="text" placeholder="Correo electrónico" />
        </div>
        <div class="box-form__item signin-form__item">
            <input class="login-input" [(ngModel)]="password" name="password" type="password" placeholder="Contraseña" />
        </div>
    </div>

    <div class="form-button signin-forgot">
        <input class="login-button signin-button"  type="submit" value="Iniciar sesión">
        <a routerLink= '/reestablecer-contraseña' class="signin-forgot__cta">¿Olvidaste tu contraseña?</a>
    </div>

</form>

