<header-signin></header-signin>
<social></social>

<p class="line">o</p>

<form action="" class="login">

    <div class="box-form signin-form">
        <div class="box-form__item signin-form__item">
            <input class="login-input" type="text" placeholder="Correo electrónico" />
        </div>
        <div class="box-form__item signin-form__item">
            <input class="login-input" type="password" placeholder="Contraseña" />
        </div>
    </div>

    <div class="form-button signin-forgot">
        <input class="login-button signin-button" type="submit" value="Iniciar sesión">
        <a href="#" class="signin-forgot__cta">¿Olvidaste tu contraseña?</a>
    </div>

</form>

