<div class="auto-social">
    <div class="auto-social__link">
        <a class="google link_social" href="#">
            <div class="logo_google logo_def">
                <img alt="Logo of listen" src="assets/google_logo.svg">
            </div>
            <span>Google</span>
        </a>
    </div>
    <div class="auto-social__link">
        <a class="facebook link_social" href="#">
            <div class="logo_facebook logo_def">
                <img alt="Logo of listen" src="assets/facebook_logo.svg">
            </div>
            <span>Facebook</span>
        </a>
    </div>
</div>