<header-signup></header-signup>


<form action="" class="login">

  <div class="box-form dni-form">
    <div class="box-form__item">
      <input class="login-input dni-form__input" type="text" placeholder="Introduce su dni" />
    </div>
    <div class="box-form__item dni-terms">
      <input id="login-checkbox" class="login-checkbox" type="checkbox" />
      <label for="login-checkbox" class="terms-copy">Acepto los terminos de servicio y la política de privacidad de Listen</label>
    </div>
  </div> 

  <div class="form-button">
    <input class="login-button" type="submit" value="Registrar">
  </div>
</form>