<header class="header_main">
  
  <div class="header_main__item cta">
    <button href="#" class="login-button crearIdea">Crear idea</button>
  </div>

  <div class="header_main__item user">
    <div class="header_main__item--title blank_">
      <h1 class="title_main">Inicio</h1>
    </div>

    <div class="header_main__item--user">
      <div class="icon-box">
        <a href="#"><img class="search" src="assets/search.svg" alt=""></a>
      </div>
      <div class="icon-box">
        <a href="#"><img class="paper_plane" src="assets/ring.svg" alt=""></a>
      </div>
      <div class="icon-box">
        <a href="#"><img class="girl" src="assets/girl.jpg" alt=""></a>
      </div>
    </div>
    
  </div>
</header>
