<header class="header_main">
  
  <div class="header_main__item cta">
    <button href="#" class="login-button crearIdea">Crear idea</button>
  </div>

  <div class="header_main__item user">
    <div class="header_main__item--title blank_">
      <h1 class="title_main_1">Inicio</h1>
    </div>

    <div class="header_main__item--user">
      <div class="icon-box">
        <div >
          <img class="search" src="assets/search.svg" alt="">
        </div>
      </div>
      <div class="icon-box">
        <div [ngClass]="activeNoti">
          
          <img  *ngIf="!showNoti; else elseBlock"  (click)="toggleNoti()" class="paper_plane" src="assets/ring1.svg" alt="">
          <ng-template #elseBlock>
            <img  (click)="toggleNoti()" class="paper_plane" src="assets/ring2.svg" alt="">
          </ng-template>

            <div *ngIf="showNoti"  class="show-options notifications">
              <ul class="notifications-list">
                <li class="notifications-list__item">Perfil</li>
                <li class="notifications-list__item">Configuración</li>
                <li class="notifications-list__item">Cerrar sesión</li>
              </ul>
            </div>    
        </div>

      </div>
      <div class="icon-box">
        <div >
          <img (click)="toggle()" [ngClass]="active"  class="girl" src="assets/girl.jpg" alt="">
            <div *ngIf="show" class="show-options">
              <ul class="show-options-list">
                <li class="show-options-list__item info-user">
                  <div class="info-user__item">
                    <img class="girl" src="assets/girl.jpg" alt="">
                  </div>
                  <div class="info-user__item">
                    <div class="info-user__item-name">Yefri Laura</div>
                    <div class="info-user__item-correo">yefrioscar9814@gmail.com</div>
                  </div>
                </li>
                <li class="show-options-list__item">Perfil</li>
                <li class="show-options-list__item">Configuración</li>
                <li (click)="cerrarSesion()" class="show-options-list__item">Cerrar sesión</li>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
</header>
