  <div class="props">
        <div class="props-log__item">
          <div class="props-log__item-likes">
            <img src="assets/like.svg" alt="" class="props-log__item-likes--icon">
            <span class="props-log__item-likes--cta">1k</span>
          </div>
        </div>
        <div class="props-log__item">
          <div class="props-log__item-likes">
            <img src="assets/line-chart.svg" alt="" class="props-log__item-likes--icon">
            <span class="props-log__item-likes--cta">1k</span>
          </div>
        </div>
  </div>

