  <div class="props">
    <div class="props-container">
      <div class="props-content">
        <nav class="props-nav">
          <ul class="props-menu">
            <li class="props-menu__item">
              <a href="#" class="props-menu__link b1"><img src="assets/like.svg" alt="" class="props-menu__icon">Configuración</a>
            </li>
            <li class="props-menu__item">
              <a href="#" class="props-menu__link"><img src="assets/like.svg" alt="" class="props-menu__icon">Estadística</a>
            </li>
            <li class="props-menu__item">
              <a href="#" class="props-menu__link"><img src="assets/like.svg" alt="" class="props-menu__icon">Proposiciones</a>
            </li>
            <li class="props-menu__item">
              <a href="#" class="props-menu__link b4"><img src="assets/like.svg" alt="" class="props-menu__icon">Compartir</a>
            </li>
          </ul>
        </nav>
        <div class="props-log">
          <div class="props-log-content">
            <div class="props-log__item">
              <div class="props-log__item-likes">
                <img src="assets/like.svg" alt="" class="props-log__item-likes--icon">
                <span class="props-log__item-likes--cta">1k</span>
              </div>
            </div>
            <div class="props-log__item">
              <a href="#" class="props-log__item--button">Cerrar idea</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>