<div class="box-header">
  <p class="box-header__text reset-back">Volver al inicio de sesión</p>
</div>

  <div class="logo">
    <img src="assets/listen-blue-logo.svg" alt="Logo of listen">
  </div>

  <form action="" class="login">

  <div class="box-form reset-form">
    <div class="box-form__item">
      <input class="login-input reset-form__input" type="text" placeholder="Correo electrónico" />
    </div>
  </div> 

  <div class="form-button">
    <input class="login-button reset-button" type="submit" value="Restaurar mi contraseña">
  </div>
</form>